<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Change Password</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>

    <div class="jumbotron text-center">
        <h6 class="h6">Change your user password</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <form action="/api/changepasswd" method="POST" id="changepasswd-form">
                    <div class="form-group">
                        <label for="uid" class="col-form-label">User ID</label>
                        <input name="uid" type="text" class="form-control" id="uid-form" placeholder="{{ UID }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newpasswd-form" class="col-form-label"> New Password </label>
                        <input name="newpasswd" type="password" class="form-control" id="newpasswd-form">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>