<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.72.0">
    <title>Home</title>

    <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/dashboard/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /* Sidebar*/

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            /* Behind the navbar */
            padding: 48px 0 0;
            /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        @media (max-width: 767.98px) {
            .sidebar {
                top: 5rem;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #727272;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        /*Navbar*/
        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .form-control-dark:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Home</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/api/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home/projects">
                                Projects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/issues">
                                Issues
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/home/boards">
                                Boards
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/team">
                                Your Team
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/integrations">
                                Integrations
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1>{{ProjectName}}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#newIssueModal">New Issue</button>
                            <div class="modal fade" id="newIssueModal" tabindex="-1" role="dialog" aria-labelledby="newIssueModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="newIssueModalLabel">New Issue</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-content">
                                            <form action="/api/add_issue" method="POST" id="add-issue-form" name="add-issue-form">
                                                <div class="form-group">
                                                    <label for="project-id" class="col-form-label"> ProjectID </label>
                                                    <input name="projectID" type="text" class="form-control" id="project-id" value="{{ ProjectID }}" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="issue-name" class="col-form-label"> Issue </label>
                                                    <input name="issueName" type="text" class="form-control" id="issue-name" placeholder="Some Issue">
                                                </div>
                                                <div class="form-group">
                                                    <label for="issue-desc" class="col-form-label"> Issue Description </label>
                                                    <textarea name="IssueDesc" class="form-control" id="issue-desc" rows="5" placeholder="Some Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Issue-owner" class="col-form-label"> Issue Owner ID </label>
                                                    <input name="issueOwner" type="number" class="form-control" id="issue-owner" value="{{ currentuid }}" disabled>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" form="add-issue-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="add-issue-form-submit-btn" form="add-issue-form" class="btn btn-primary">Add Issue to Project</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addMembermodal">Add Member</button>
                            <div class="modal fade" id="addMembermodal" tabindex="-1" role="dialog" aria-labelledby="addMembermodal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addMembermodalLabel">Add Member</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-content">
                                            <form action="/api/add_member" method="POST" id="add-member-form" name="add-member-form">
                                                <div class="form-group">
                                                    <label for="project-id" class="col-form-label"> ProjectID </label>
                                                    <input name="projectID" type="text" class="form-control" id="project-id" value="{{ ProjectID }}" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="issue-name" class="col-form-label"> Issue </label>
                                                    <input name="memberID" type="number" class="form-control" id="member-id" placeholder="Some Member">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" form="add-member-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="add-member-form-submit-btn" form="add-member-form" class="btn btn-primary">Add Issue to Project</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#createTaskModal">Create Task</button>
                            <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="createTaskModalLabel">Create Task</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-content">
                                            <form action="/api/add_member" method="POST" id="create-task-form" name="create-task-form">
                                                <div class="form-group">
                                                    <label for="project-id" class="col-form-label"> ProjectID </label>
                                                    <input name="projectID" type="text" class="form-control" id="project-id" value="{{ ProjectID }}" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="issue-name" class="col-form-label"> Task </label>
                                                    <input name="memberID" type="number" class="form-control" id="member-id" placeholder="Some Member">
                                                </div>
                                                <div class="form-group">
                                                    <label for="issue-name" class="col-form-label"> Task Description </label>
                                                    <input name="memberID" type="number" class="form-control" id="member-id" placeholder="Some Member">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" form="create-task-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="create-task-form-submit-btn" form="create-task-form" class="btn btn-primary">Add Task to Project</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                    </div>
                </div>
                <div class="text-left text">
                    <h1 class="h6"> Description: </h1>
                    <p>{{ProjectDesc}}</p>
                </div>
                <table class="table table-hover">
                    <h6>Members:</h6>
                    <thead class="thead">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Issues Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                        <tr>
                            <td>{{ member.id }}</td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.issueCount }}</td>
                            <td><a style='text-decoration:none; color:blue' href='/api/flagmember?action=delete&projectid={{ ProjectID }}&memberid={{ member.id }}'>&times;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table class="table table-hover">
                    <h6>Active Issues:</h6>
                    <thead class="thead">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created By</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, issues.length) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ issues[i].IssueName }}</td>
                            <td>{{ issues[i].IssueContent }}</td>
                            <td>{{ issues[i].FullName }}</td>
                            <td><a style='text-decoration:none; color:blue' href='/api/flagissue?action=delete&issueid={{ issues[i].IssueID }}'>&times;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-left text">
                    <h1 class="h6"> Active Tasks: </h1>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Task</td>
                                <td>Description</td>
                                <td>Assigned to</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0, tasks.length) %}
                            <tr>
                                <td>{{ i+1 }}</td>
                                <td>{{ tasks[i].TaskName }}</td>
                                <td>{{ tasks[i].TaskContent }}</td>
                                <td>{{ tasks[i].FullName }}</td>
                                {% if tasks[i].TaskAssignment %}
                                <td></td>
                                {% else %}
                                <td><a style='text-decoration: none;' href='/api/flagTask?action=take&taskid={{ tasks[i].TaskID  }}'>&downarrow;</a></td>
                                {% endif %}
                                <td><a style='text-decoration: none;' href='/api/flagTask?action=delete&taskid={{ tasks[i].TaskID }}'>&times;</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-DBjhmceckmzwrnMMrjI7BvG2FmRuxQVaTfFYHgfnrdfqMhxKt445b7j3KBQLolRl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" integrity="sha384-EbSscX4STvYAC/DxHse8z5gEDaNiKAIGW+EpfzYTfQrgIlHywXXrM9SUIZ0BlyfF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha384-i+dHPTzZw7YVZOx9lbH5l6lP74sLRtMtwN2XjVqjf3uAGAREAF4LMIUDTWEVs4LI" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
</body>

</html>